body {
  height: 100%;
  width: 100%;
}

a i {
  color: black;
  padding: 2%;
  transition: all 0.6s ease-out;
  -webkit-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}

a:hover i {
  color: darkred;
  -webkit-transform: rotateZ(-360deg);
  -ms-transform: rotateZ(-360deg);
  transform: rotateZ(-360deg);
}

.categorie {
  margin: auto;
  padding: 2%;
}

.meteo {
  position: absolute;
  right: 0;
}

.weatherwidget-io {
  width: 400px;
}

.container-fluid {
  width: 90%;
  display: flex;
}

.container {
  height: 100%;
  width: 50%;
}

#quote {
  margin-top: -1%;
  cursor: not-allowed;
}


/*Media Queries CSS Screen Size*/
/* Ultra HD */
@media only screen and (min-width : 2560px) {
  .weatherwidget-io {
    width: 550px;
  }
}

/* HD */
@media only screen and (min-width : 1441px) and (max-width : 1920px) {
  .meteo {
    top: 0;
  }
}

/* SD */
@media only screen and (min-width : 768px) and (max-width : 1440px) {
  .meteo {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .weatherwidget-io {
    width: 90%;
    margin: auto;
  }
}

/* PHONE */
@media only screen and (min-width : 200px) and (max-width : 640px) {
  .meteo {
    display: none;
  }
}