body {
    height: 100%;
    width: 100%;
  }
  a {
    color: black;
    padding: 2%;
  }
  a:hover {
    color: darkred;
  }
  .categorie {
    margin: auto;
    padding: 2%;
  }
  .meteo {
    position: absolute;
    right: 0;
    top: 0;
  }
  .weatherwidget-io {
    width: 400px;
  }
  .container-fluid {
    width: 90%;
    display: flex;
  }
  .container {
    height: 100%;
    width: 50%;
  }
  @media screen and (min-width: 200px) and (max-width: 640px) {
.weatherwidget-io {
  display: none;
 }
} 
