body {
  height: 100%;
  width: 100%;
}

a {
  color: black;
  padding: 2%;
}

a:hover {
  color: darkred;
}

.categorie {
  margin: auto;
  padding: 2%;
}

.meteo {
  position: absolute;
  right: 0;
  /* top: 0; */
}

.weatherwidget-io {
  width: 400px;
}

.container-fluid {
  width: 90%;
  display: flex;
}

.container {
  height: 100%;
  width: 50%;
}



/*Media Queries CSS Screen Size*/
/* HD */
@media only screen and (min-width : 1367px) and (max-width : 1920px) {
  .meteo {
    top: 0;
  }
}

/* SD */
@media only screen and (min-width : 768px) and (max-width : 1366px) {
  .meteo {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .weatherwidget-io {
    width: 90%;
    margin: auto;
  }
}

/* PHONE */
@media only screen and (min-width : 200px) and (max-width : 640px) {
  .meteo {
    display: none;
  }
}
