<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenue sur la page de garde qui tue !
  </h1>

  <h2>On va où ?</h2>
</div>

<div class="categorie meteo">
  <a class="weatherwidget-io" href="https://forecast7.com/fr/48d862d35/paris/" data-label_1="PARIS"
    data-label_2="WEATHER FORECAST" data-font="Verdana" data-icons="Climacons Animated" data-theme="pure">PARIS WEATHER
    FORECAST</a>
</div>
<div class="container-fluid">
<div class="container">

  <div class="categorie">
    <h3>Travail</h3>
    <a href="https://github.com/Herebos" target="blank" title="Github" data-toggle="popover" data-placement="bottom"><i
        class="fab fa-github fa-7x"></i></a>
    <a href="https://mail.google.com/mail/u/0/#inbox" target="blank" title="Gmail" data-toggle="popover"
      data-placement="bottom"><i class="far fa-envelope fa-7x"></i></a>
    <a href="https://drive.google.com/drive/my-drive" target="blank" title="Drive" data-toggle="popover"
      data-placement="bottom"><i class="fab fa-google-drive fa-7x"></i></a>
  </div>

  <div class="categorie">
    <h3>Boutique</h3>
    <a href="https://www.amazon.fr/" target="blank" title="Amazon" data-toggle="popover" data-placement="bottom"><i
        class="fab fa-amazon fa-7x"></i></a>

  </div>
</div>
<div class="container">
  <div class="categorie">
    <h3>Capgemini</h3>
    <a href="https://teweb.fr.sogeti.com/TEWeb/UI/Accueil.aspx" target="blank" title="TeWeb" data-toggle="popover"
      data-placement="bottom"><i class="fas fa-paste fa-7x"></i></a>

  </div>

  <div class="categorie">
    <h3>Autre</h3>
    <a href="https://bonpatron.com/" target="blank" title="Bon Patron" data-toggle="popover" data-placement="bottom"><i
        class="fas fa-underline fa-7x"></i></a>
    <a href="https://www.google.com/maps/@48.8276406,2.2635644,14z?hl=en" target="blank" title="Maps"
      data-toggle="popover" data-placement="bottom"><i class="fas fa-map-marked-alt fa-7x"></i></a>

  </div>

</div>
</div>



<a href="" target="blank" title="" data-toggle="popover" data-placement="bottom"></a>

<router-outlet></router-outlet>
